.headerContainer {
  display: flex;
  flex-direction: column;
}

.logoContainer {
  position: relative;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 6px;
}

.logo {
  font-weight: 700;
  font-size: 18.2px;
  width: fit-content;
  cursor: pointer;
}

.logoContainer:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 70px;
  width: 70px;
  border: solid 4px #292929;
  border-color: #292929 transparent transparent transparent;
  border-radius: 50%;
  padding-bottom: 6px;
}

.headingContainer {
  padding-left: 64px;
}

.heading {
  padding-top: 14.3px;
  padding-left: 14.3px;
  padding-right: 14px;
  padding-bottom: 13.5px;
  font-size: 20px;
  font-weight: 600;
  line-height: 37px;
}
